body {
  padding: 0;
  margin: 0;
}

nav {
  background: #02b3e4;
}

.contact-nav ul {
  padding-right: 190px;
}

/**********/

/* Header */

/**********/

.top-head {
  border-bottom: 4px solid #02b3e4;
  padding-bottom: 15px;
  margin-bottom: 20px;
}

.headerlogo {
  margin-top: 20px;
  height: 100px;
}

.header-box {
  text-align: right;
}

.header-name {
  font-family: Raleway, sans-serif;
  font-weight: 100;
  margin-top: 44px;
}

.header-label {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  margin-top: 10px;
}

/********/

/* nav */

/******/

nav ul {
  list-style-type: none;
  padding: 0;
  font-size: 1.25em;
}

nav a {
  color: #fff;
  display: block;
  text-align: right;
  padding: 10px 10px;
  margin-top: 10px;
}

nav a:hover {
  color: #7d97ad;
}

nav a:visited {
  color: lightgray;
}

/******************/

/* featured work */

/****************/

.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
}

.headline {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  color: #7d97ad;
}

.gallerytext {
  text-align: center;
}

.caption-text {
  font-style: italic;
}

/**********/

/**FORM **/

/**********/

.contact-form {
  background-color: #f2f2f2;
}

label {
  color: #2d3c49;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  margin-left: 5px;
  padding-bottom: 5px;
}

.email-col {
  padding-bottom: 10px;
}

.name-col {
  padding-bottom: 10px;
}

.fields {
  padding: 10px 10px;
}

.btn {
  background-color: lightgray;
  color: #7d97ad;
}

/************/

/* *FOOTER **/

/************/

footer {
  padding: 10px;
  text-align: center;
  background: #02b3e4;
}

.rights {
  padding-top: 10px;
  color: lightgray;
}

.icons {
  font-size: 2em;
}
